.title{
    /*background-color: aqua; */
    color: white; 
    text-align: center;    
}

html{
    background-color: aquamarine;
    font-family: 'Urbanist' , sans-serif;
    background-image: url('frutiger.png');
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}


.text{
    text-align: center;
}

.text2{
    text-align: center;
}

.animated-gif{
    pointer-events: none;
    width: 100px;
}

.gif-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.link-container{
    display: flex;
      justify-content: space-between;
      align-items: center;
}

.link-left{
    text-align: left;
}

.link-center{
    text-align: center;
    flex: 1;
}
